/* *{
/* border:1px solid lightblue */
/* }  */
body{background-color:white}
/*  */
#navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center !important;
  }
  
  li {
    display: inline-block !important;
    color:white
  }
  
  a {
    display:block;
    color: white!important;   
    text-align: center !important;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
  }
  
  a:hover {
    color:bisque;
  }
  
  li:last-child a {
    border-right: none;
  }


  .icono {
    background-image: url("foto_logo.png");
    
  }
  #foto_carrito {
    width: 5%;
    position: relative;
  }
  
  @media (max-width: 768px) { 
    #navbar {
      flex-direction: column;
    }
  
    #foto_carrito {
      width: 100%;
      position: static;
      margin-top: 10px; 
    }
  }
  
  /* Index */
  #logo_foto{
    width: 25%;
  }
  a[href="#inicio"] {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50%;
    text-align: center;
   
  }
  body::-webkit-scrollbar {
    width: 10%;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10%;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
  
  body::-webkit-scrollbar-track {
    background: #ddd;
  }
  
  body::-webkit-scrollbar-track:hover {
    background: #ccc;
  }
  
  body::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  a[href="#inicio"]:hover {
    background-color:brown;
  }
  
  body:hover a[href="#inicio"] {
    display: block;
  }
    
  .barra {
    overflow-y:scroll;
    height: 100vh;
    padding-right: 20px; 
    scroll-behavior: smooth;
  }
  

  #video{
    width: 100%;
    top: 0;
    left: 0;
    max-height: 800px;
    
  }
  .contenedor_video {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }
  
  .contenedor_video video {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
    }
  

  #munich{
    width:65%; 

  }
  .centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #altstadt{
    width:80%;
    height: auto;
  }
  #castillo{
    width:90%;
    height:auto;
  }
  #oktober{
    width:80%;
    height:auto;
  }
  #isar{
    width:80%;
    height:auto;
  }


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 5000px;
    margin: 0 auto;
    margin-bottom: 30px;
    
  }
  
  .card {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  

  
 

  .historia{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(history.jpeg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}
.historia a {
  text-decoration: none;
  color: white;
  font-size: 30px; 
  align-content: center;
}



.cultura{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(cultura.jpeg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.cultura a {
  text-decoration: none;
  color: white;
  font-size: 30px; 
  align-content: center;
}

.atracciones{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(atracciones.jpeg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.atracciones a {
  text-decoration: none;
  color: white;
  font-size: 30px; 
  align-content: center;
}

.alpes{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(alpes.jpeg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.alpes a {
  text-decoration: none;
  color: white;
  font-size: 30px; 
  align-content: center;
}
.restaurantes{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(restaurantes.jpeg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.restaurantes a {
  text-decoration: none;
  color: white;
  font-size: 30px; 
  align-content: center;
}

.transporte{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(transporte.jpeg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.transporte a {
  text-decoration: none;
  color: white;
  font-size: 30px; 
  align-content: center;
}

.experiencia{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(experiencia.jpeg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.experiencia a {
  text-decoration: none;
  color: white;
  font-size: 30px; 
  align-content: center;
}



/* Historia */
.intro{
  display: grid;
  margin-left: 40px;
  margin-right: 50px;
  text-align: justify;
  grid-gap: 30px;
  margin-bottom: 40px;
  align-items: start;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 40px;
  text-align: justify;
  align-items: start;
}

.container img {
  max-width: 100%;
}

.texto {
  font-family: UniversLTStd, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 300;
  font-style: normal;
  line-height: 1.666;
  -webkit-font-smoothing: antialiased;
  color: #2D2D28;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  margin-bottom: 60px;
  align-content: center;
}



.texto h2 {
  font-family: UniversLTStd, Arial, sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
  font-size: 1.1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.texto p {
  font-size: 18px;
}

  #duque{
    width:50%;
    height:auto;
  }
  #monje{
    width:100%;
    height:auto;
  }

  #hitler{
    width:100%;
    height:auto;
  }
  #nazis{
    width:100%;
    height:auto;
  }

  #dachau{
    width:100%;
    height:auto;
  }
  #ww2{
    width:100%;
    height:auto;
  }

  #ciudad{
    width:100%;
    height:auto;
  }



/* Atracciones */

 

  /* Transporte */
  .portafolio{
    background: #f2f2f2;
    margin-top: 64px;
    padding-top: 16px;
  }
  
  .galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  }
  
  .imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(249, 249, 249, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hover-galeria img{
    width: 50px;
  }
  
  .hover-galeria p{
    color: rgb(0, 0, 0);
  }
  
  .imagen-port:hover .hover-galeria{
    transform: scale(1);
  }
  
  /* Estilos para pantallas más pequeñas */
  @media screen and (max-width: 768px) {
    .galeria-port {
      flex-direction: column;
    }
    
    .imagen-port {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  #ubahn{
    width:50%;
    height:auto;
  }
  #u3{
    width:50%;
    height:auto;
  }
  /* Experiencia */
  #logo{
    width:50%;
    height:auto;
  }
 
  

  #tum{
    width:50%;
    height:auto;
  }
  #residencia{
    width:50%;
    height:auto;
  }
  /* Cultura */
  #oktoberfest{
    width:50%;
    height:auto;
  }
  #fcb{
    width:50%;
    height:auto;
  }
  #pretzel{
    width:30%;
    height:auto;
  }
  #bmw{
    width:50%;
    height:auto;
  }
  #xmas{
    width:50%;
    height:auto;
  }
  #bratwurst{
    width:50%;
    height:auto;
  }
  /* Alpes */
  .card_alps {
    display:inline-block;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    align-items: center;
    margin-right:30px;
    margin-left: 30px;
  }
  
  .card_alps img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  
  .card_alps-content {
    padding: 10px;
  }
  
  .card_alps-content h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .card_alps-content p {
    margin: 5px 0;
  }
  

  /* Restaurantes */
  #hb{
    width:50%;
    height:auto;
  }
  #hofbraeu{
    width:50%;
    height:auto;
  }
  .carousel-indicators [data-bs-target]{
    position: relative;
    width: 80px;
    height: 6px;
    border: none;
    border-radius: 10px;
  }
  .carousel-indicators [data-bs-target] span {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ae1c28;
    border-radius: inherit;
  }
  .carousel-item{
    height: 75vh;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
  }
  .carusel-contenedor{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 0;
    padding-bottom: 20px;
  }
  #carousel p{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color:whitesmoke
  }
  #carousel h1{
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
  }
  .carousel-item:nth-child(1){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(hofbraeu.jpeg)
  }
  .carousel-item:nth-child(2){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(agustiner.jpeg)
  }
  .carousel-item:nth-child(3){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(weisses.jpeg)
  }
  .carousel-item:nth-child(4){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(ratskeller.jpeg)
  }
  .carousel-item:nth-child(5){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(biergarten.jpeg)
  }
  


/* Footer */
footer{
    background-color: white;
} 
#mail{
  width:30%;
  height:auto;
}

#instagram{
  width:30%;
  height:auto;
}
#tiktok{
  width:30%;
  height:auto;
}
#linkedin{
  width:30%;
  height:auto;
}

#twitter{
  width:30%;
  height:auto;
}
.contenedor-botones {
  bottom: 0;
  text-align: center;
}
#boton{
  border-style: none;
  background-color: white;
  width: 10%;
  box-shadow: white;
}







