/* *{
/* border:1px solid lightblue */
/* }  */
body{background-color:white}
/*  */
nav {
    background-color: #333;
    overflow: hidden;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    float: left;
  }
  
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
  }
  
  a:hover {
    color: black;
  }
  
  li:last-child a {
    border-right: none;
  }
  /* Index */
  #munich{
    width:80%;
    height:70%;
  }
  #altstadt{
    width:80%;
    height: auto;
  }
  #castillo{
    width:80%;
    height:auto;
  }
  #oktober{
    width:80%;
    height:auto;
  }
  #isar{
    width:80%;
    height:auto;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .image-grid img {
    width: 100%;
    height: auto;
  
  }
/* Historia */
  #duque{
    width:30%;
    height:30%;
  }
  #monje{
    width:50%;
    height:auto;
  }

  #hitler{
    width:50%;
    height:auto;
  }
  #nazis{
    width:50%;
    height:auto;
  }

  #dachau{
    width:50%;
    height:auto;
  }
  #ww2{
    width:50%;
    height:auto;
  }

/* Atracciones */

  #residenz{
    width:45%;
    height:auto;
  }

  #museum{
    width:50%;
    height:auto;
  }

  #olympia{
    width:50%;
    height:auto;
  }

  #alianz{
    width:50%;
    height:auto;
  }

  #englischer{
    width:50%;
    height:auto;
  }
  #neuschweinstein{
    width:50%;
    height:auto;
  }
  #skate{
    width:50%;
    height:auto;
  }
  #sommer{
    width:50%;
    height:auto;
  }
  #see{
    width:50%;
    height:auto;
  }

  /* Transporte */
  #ubahn{
    width:50%;
    height:auto;
  }
  #u3{
    width:50%;
    height:auto;
  }
  /* Experiencia */
  #logo{
    width:50%;
    height:auto;
  }
  #tum{
    width:50%;
    height:auto;
  }
  #residencia{
    width:50%;
    height:auto;
  }
  /* Cultura */
  #oktoberfest{
    width:50%;
    height:auto;
  }
  #fcb{
    width:50%;
    height:auto;
  }
  #pretzel{
    width:30%;
    height:auto;
  }
  #bmw{
    width:50%;
    height:auto;
  }
  #xmas{
    width:50%;
    height:auto;
  }
  #bratwurst{
    width:50%;
    height:auto;
  }
  /* Alpes */
  #alps{
    width:50%;
    height:auto;
  }
  #wallberg{
    width:50%;
    height:auto;
  }
  #alpes{
    width:50%;
    height:auto;
  }
  #alpesverano{
    width:50%;
    height:auto;
  }
  /* Restaurantes */
  #hb{
    width:50%;
    height:auto;
  }
  #hofbraeu{
    width:50%;
    height:auto;
  }



/* Footer */
footer{
    background-color: white;
} 
#mail{
  width:30%;
  height:auto;
}

#instagram{
  width:30%;
  height:auto;
}
#tiktok{
  width:30%;
  height:auto;
}
#linkedin{
  width:30%;
  height:auto;
}

#twitter{
  width:30%;
  height:auto;
}
.contenedor-botones {
  position:relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#boton{
  border-style: none;
  background-color: white;
  width: 10%;
  box-shadow: white;
}







