/* *{
/* border:1px solid lightblue */
/* }  */
body{background-color:white}
/*  */
#navbar {
    background-color: #333;
    overflow: hidden;

  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center !important;
  }
  
  li {
    display: inline-block !important;
    color:white
  }
  
  a {
    display:block;
    color: white!important;   
    text-align: center !important;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
  }
  
  a:hover {
    color:bisque;
  }
  
  li:last-child a {
    border-right: none;
  }


  .icono {
    background-image: url("foto_logo.png");
    
  }
  
  
  /* Index */
  #logo_foto{
    width: 25%;
  }
  a[href="#inicio"] {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50%;
    text-align: center;
   
  }
  body::-webkit-scrollbar {
    width: 10%;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10%;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
  
  body::-webkit-scrollbar-track {
    background: #ddd;
  }
  
  body::-webkit-scrollbar-track:hover {
    background: #ccc;
  }
  
  body::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  a[href="#inicio"]:hover {
    background-color:brown;
  }
  
  body:hover a[href="#inicio"] {
    display: block;
  }
    
  
  

  #video{
    width: 100%;
    /*position: absolute;*/
    top: 0;
    left: 0;
    
  }
  .contenedor_video {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-top: 45%;*/
    /*position: relative;*/
    
  }
  
  .contenedor_video video {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
    }
  

  #munich{
    width:65%; 

  }
  .centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #altstadt{
    width:80%;
    height: auto;
  }
  #castillo{
    width:90%;
    height:auto;
  }
  #oktober{
    width:80%;
    height:auto;
  }
  #isar{
    width:80%;
    height:auto;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .image-grid img {
    width: 100%;
    height: auto;
  
  }
/* Historia */
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 30px;
  align-items: start;
}

.container img {
  max-width: 100%;
}

.texto {
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.texto h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.texto p {
  font-size: 18px;
}

  #duque{
    width:50%;
    height:auto;
  }
  #monje{
    width:100%;
    height:auto;
  }

  #hitler{
    width:100%;
    height:auto;
  }
  #nazis{
    width:100%;
    height:auto;
  }

  #dachau{
    width:100%;
    height:auto;
  }
  #ww2{
    width:100%;
    height:auto;
  }

  #ciudad{
    width:100%;
    height:auto;
  }

/* Atracciones */

  #residenz{
    width:45%;
    height:auto;
  }

  #museum{
    width:50%;
    height:auto;
  }

  #olympia{
    width:50%;
    height:auto;
  }

  #alianz{
    width:50%;
    height:auto;
  }

  #englischer{
    width:50%;
    height:auto;
  }
  #neuschweinstein{
    width:50%;
    height:auto;
  }
  #skate{
    width:50%;
    height:auto;
  }
  #sommer{
    width:50%;
    height:auto;
  }
  #see{
    width:50%;
    height:auto;
  }

  /* Transporte */
  #ubahn{
    width:50%;
    height:auto;
  }
  #u3{
    width:50%;
    height:auto;
  }
  /* Experiencia */
  #logo{
    width:50%;
    height:auto;
  }
 
  

  #tum{
    width:50%;
    height:auto;
  }
  #residencia{
    width:50%;
    height:auto;
  }
  /* Cultura */
  #oktoberfest{
    width:50%;
    height:auto;
  }
  #fcb{
    width:50%;
    height:auto;
  }
  #pretzel{
    width:30%;
    height:auto;
  }
  #bmw{
    width:50%;
    height:auto;
  }
  #xmas{
    width:50%;
    height:auto;
  }
  #bratwurst{
    width:50%;
    height:auto;
  }
  /* Alpes */
  #alps{
    width:50%;
    height:auto;
  }
  #wallberg{
    width:50%;
    height:auto;
  }
  #alpes{
    width:50%;
    height:auto;
  }
  #alpesverano{
    width:50%;
    height:auto;
  }
  /* Restaurantes */
  #hb{
    width:50%;
    height:auto;
  }
  #hofbraeu{
    width:50%;
    height:auto;
  }



/* Footer */
footer{
    background-color: white;
} 
#mail{
  width:30%;
  height:auto;
}

#instagram{
  width:30%;
  height:auto;
}
#tiktok{
  width:30%;
  height:auto;
}
#linkedin{
  width:30%;
  height:auto;
}

#twitter{
  width:30%;
  height:auto;
}
.contenedor-botones {
  /*position:relative;*/
  bottom: 0;
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  text-align: center;
}
#boton{
  border-style: none;
  background-color: white;
  width: 10%;
  box-shadow: white;
}







